<section class="">
    <div class="sticky top-0 z-40">
        <app-headers></app-headers>
    </div>

    <div class="static">
        <div class="flex justify-center items-center min-h-screen">
            <ng-container *ngIf="route.url === '/home'">
                Selamat Datang
            </ng-container>
    
            <ng-container *ngIf="route.url !== '/home'">
                <router-outlet></router-outlet>
            </ng-container>
        </div>
    </div>

    <div class="sticky bottom-0">
        <app-footer></app-footer>
    </div>
</section>
